.flex-col
  display flex
  flex-direction column

.flex-col-center
  @extend .flex-col
  justify-content center

.flex-col-around
  @extend .flex-col
  justify-content space-around

.flex-col-between
  @extend .flex-col
  justify-content space-between

.flex-col-start
  @extend .flex-col
  justify-content flex-start

.flex-col-end
  @extend .flex-col
  justify-content flex-end

.flex-align-center
  align-items center

.flex-align-start
  align-items flex-start

.flex-align-end
  align-items flex-end

.flex-row
  display flex
  flex-direction row

.flex-row-center
  @extend .flex-row
  justify-content center

.flex-row-start
  @extend .flex-row
  justify-content flex-start

.flex-row-end
  @extend .flex-row
  justify-content flex-end

.flex-row-around
  @extend .flex-row
  justify-content space-around

.flex-row-between
  @extend .flex-row
  justify-content space-between

.flex-wrap-wrap
  flex-wrap wrap

for i in 1..9
  .flex-grow-{i}
    flex-grow i
