margin-left(size)
  margin-left size

margin-right(size)
  margin-right size

margin-top(size)
  margin-top size

margin-bottom(size)
  margin-bottom size

list = range(1,2,0.5)
push(list,auto)
//for row in range(1,1.9,0.1)
//  push(list,row)

@import "func.styl"

for row in list
  un = row == auto ?:em
  size = row==auto ?auto:'%s%s'%(toFixed(row) un)
  dot = replace('\.','_',size)
  .margin-left-{dot}
    margin-left(size)
  .margin-right-{dot}
    margin-right(size)
  .margin-top-{dot}
    margin-top(size)
  .margin-bottom-{dot}
    margin-bottom(size)
